# from my.telegram.org/apps
API_ID=32368812
API_HASH=89e51be5325a8a70dae96c54619f7341

# from @BotFather on telegram
BOT_TOKEN=8731741366:AAFbiBBh4F9-IF51u7jHFj9-RVBaOGElbXw
LOGGER_ID=0

# mongo url from cloud.mongodb.com
MONGO_URL=mongodb+srv://lixoffline90_db_user:Jy7jIAh5UXL4fiYZ@cluster0.vdffwx3.mongodb.net/?appName=Cluster0

OWNER_ID=7582699157

# pyrogram session from @StringFatherBot on telegram
SESSION=AQHt6KwAwezwK5u1TDiUJfQfe8yr7eiv8GswcqGjOMuAc3DWsoFJByuUDjAVzGKYu0n8j5doKgsk_xU2pC3tx8z_brcmIz95CAHj3yeKqxr3J7flwHsBq1NXFdcKCNGukRLmRBxHuiVoro5wfkchl4DvM33IhDrEXNYmfo5HxJxrFYqkMRcHLWzEl5_R0Cdppb3TrS17WMhJkZutHGj2Tjc4hONw7IByFq5xBNPrfFsOHiKzRfIuostSn9EmzpFzxNZSclCV_w5A3zmMovcB-DI0IzyRNXt7YmG9_yGOxuRIb2UAPDmZ9lYjC7j-yaL5A3w3FmQpWh2xAgV1H0baNbjaQSB99AAAAAIL_9uDAA

# Outlaw X Music branding (optional overrides)
BRAND_NAME=˹ᴏᴜᴛʟᴀᴡ ꭙ ᴍᴜsɪᴄ˼ ♪ !
BRAND_TAGLINE=Your Vibe. Your Music. Your Outlaw.
OWNER_NAME=𝐀𝐍 𝐍𝐚𝐫𝐜𝐢𝐬𝐬𝐗
OWNER_USERNAME=AstraVerse0
SUPPORT_CHAT=https://t.me/+2YK9-ERIXPI1YmI1
SUPPORT_CHANNEL=https://t.me/YuniteCrew
